### Add more library
### jsonpatch, jsonpointer cause json_helper.py required
### pymssql-py38 cause pymssql is deprecated
#add new library 16-11-2023 : keyboard: pip install keyboard

openpyxl
requests
jsonpatch==1.33
robotframework>=6.1.1
robotframework-databaselibrary==1.3.1
robotframework-jsonlibrary==0.4.1
robotframework-requests==0.9.6
robotframework-seleniumlibrary==6.1.3
robotframework-debuglibrary==2.3.0   
robotframework-jsonschemalibrary>=1.0
selenium==4.15.2
pyyaml  


